.input {
    /* border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid; */
    height: 1.875rem;
    border: 1px solid;
    border-color: #dddbda;
    background-color: hidden;
    width: 100%;
}
.pill{
    border-radius: 4px !important;
    /* margin: 5px !important; */
   --sds-c-pill-color-background : #6699CC !important;
   --sds-c-pill-top-margin: 5px;
    color: white;
}

.email_error_msg{
    color: #ff0000;
}
/* .slds-pill{
    border-radius: 4px !important;
    margin: 5px !important;
   --sds-c-pill-color-background : #6699CC !important;
    color: white;
}
.slds-pill_container{
    border-radius: 4px !important;
    margin: 5px !important;
    --sds-c-pill-color-background : #6699CC !important;
    color: white;

} */
.input:focus {
    outline-width: 0;
}